.rowElement {
  width: "100%";
  min-width: 360px;
  cursor: grab;
  margin-bottom: 24px;
}

.rowElement .header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .title {
  background-color: black;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 20px;
  min-width: 256px;
  text-align: left;
  vertical-align: middle;
  color: white;
  border: none;
}

.header .buttonsContainer {
  background-color: black;
  padding: 8px 16px;
}

.header button {
  cursor: pointer;
}

.rowElement .content {
  border: 2px solid black;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  min-height: 334px;
}
