.productCard {
  min-height: 314px;
  width: 176px;
  border: 1px solid #e8e8e8;
}

.productCard img {
  height: 256px;
  width: 100%;
}

.productCardInfo {
  padding: 4px;
  background-color: #e8e8e8;
}

.productCardInfo span {
  font-size: 12px;
  font-weight: bold;
}
